body {
  background-color: #efefef;
}
.feather {
  width: 20px;
  height: 20px;
  stroke: #4d4d4d;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: text-bottom;
}
.list-group {
  background-color: #ffffff;
}
.list-group-item {
  border: none;
}

.user {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.user img {
  padding: 10px;
}
.toggler {
  color: #000;
  background-color: #fff;
  border: none;
  outline: none;
}

#wrapper {
  overflow-x: hidden;
  background-color: #fff;
}

.card {
  margin-bottom: 10px;
}
.container-fluid {
  margin-right: 20px;
}
